@{
    ViewData["Title"] = "Raporty";
}


<link rel="stylesheet" href="/css/menu.css"/>

<div class="text-center">
<h2>@ViewData["Title"]</h2>
<p><a class="nav-link nav-link-menu" asp-controller="Raport" asp-action="SellRaport">Sell Raport</a></p>
<p><a class="nav-link nav-link-menu" asp-controller="Raport" asp-action="MagazineStatus">Magazine Status</a></p>
<p><a class="nav-link nav-link-menu" asp-controller="Raport" asp-action="Deliveries">Deliveries</a></p>
</div>