<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/purchase.css" />
</head>
<body>

<div class="button-container">
    <h1>Purchase</h1>
    <button type="button" class="btn btn-success animated-button" onclick="processTransaction(this)">BLIK</button>
    <button type="button" class="btn btn-warning animated-button" onclick="processTransaction(this)">Traditional Transfer</button>
    <button type="button" class="btn btn-danger animated-button" onclick="processTransaction(this)">Cash</button>

    <div class="processing-spinner" id="processingSpinner">
        <div class="spinner spin"></div>
    </div>
</div>

    <script>
        function processTransaction(button) {
            document.querySelectorAll('.animated-button').forEach(function (btn) {
                btn.style.display = 'none';
            });

            var spinner = document.getElementById('processingSpinner');
            spinner.style.display = 'flex'; 

            setTimeout(function () {
                spinner.style.display = 'none';

                document.querySelectorAll('.animated-button').forEach(function (btn) {
                    btn.style.display = 'inline-block';
                });

                redirectToAnotherView();
            }, 3000);

            function redirectToAnotherView() {
                var controllerActionUrl = '/Order/Summary';

                window.location.href = controllerActionUrl;
            }
        }
    </script>

</body>
</html>
